.mylabel {
    display: inline;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}